.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
    
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;

        h1 {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.2rem;
            font-weight: 400;
        }

    }

    .disclaimer {
        margin: 2rem auto;
        padding: 10px;
        max-width: 500px; 
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 14px;
        line-height: 1.5;
    }
    
    .disclaimer strong {
        font-weight: bold;
    }
}